{% extends "base.html" %}

{% load static %}
{% block title %}Children{% endblock title %}

{% block content %}

  
  <!--/breadcrumb-bg-->
  <div class="breadcrumb-bg w3l-inner-page-breadcrumb py-5">
    <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
      <h2 class="title pt-5">Children</h2>
      <ul class="breadcrumbs-custom-path mt-3 text-center">
        <li><a href="/">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Children</li>
      </ul>
    </div>
  </div>
<!--//breadcrumb-bg-->
 <!-- /w3l-content-4-->
 <section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4">
      <div class="container">
        <div class="title-content text-center">
          <h3 class="title-w3l mb-sm-5 mb-4 pb-lg-2">CHILDREN</h3>
          
        </div>
        <div class="content-info-in row">
          <div class="content-left col-lg-6">
            <div class="row content4-right-grids mb-sm-5 mb-4">
              <div class="col-lg-2 col-3 content4-right-icon">
                <div class="content4-icon icon-clr1">
                  <span class="fa fa-child">Bullying</span>
                </div>
              </div>
              <div class="col-lg-10 col-9 content4-right-info pl-4">
                <h6><a href="register.html"><br><br></a></h6>
                <p>:If you have been a victim of bullying,you are not alone.Our counsellors can help you understand why bullies behave the way they do,how to cope with bullies and build self -esteem.</p>
              </div>
            </div>
            <div class="row content4-right-grids mb-sm-5 mb-4">
              <div class="col-lg-2 col-3 content4-right-icon">
                <div class="content4-icon icon-clr2">
                  <span class="fa fa-chi">MentalHealth</span>
                </div>
              </div>
              <div class="col-lg-10 col-9 content4-right-info pl-4">
                <h6><a href="register.html"></a><br> <br></h6>
                <p>No deserves to go through any mental illness or stress,because it affects a lot of activities and performances.That is why our counsellors are here to assist you.</p>
              </div>
            </div>
            

            


          <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
            <br>
            <a class="btn btn-style btn-filled-light mt-sm-5 mt-4 mr-2" href="signup.html">
              Join Us Now</a>
            <h4></h4>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //w3l-content-4-->


{% endblock content %}