{% extends "base.html" %}
{% load static %}

{% block title %}About Us {% endblock title %}

{% block content %}

  <!--/breadcrumb-bg-->
  <div class="breadcrumb-bg w3l-inner-page-breadcrumb py-5">
    <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
      <h2 class="title pt-5">About</h2>
      <ul class="breadcrumbs-custom-path mt-3 text-center">
        <li><a href="/">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About </li>
      </ul>
    </div>
  </div>
<!--//breadcrumb-bg-->
<!-- banner bottom shape -->
<div class="position-relative">
  <div class="shape overflow-hidden">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- banner bottom shape -->
<!-- //w3l-inner-page-breadcrumb-->
<section class="w3l-about-ab" id="about">
  <div class="midd-w3 py-5">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="imgw3l-ab mb-md-5 mb-3">
        <img src="{% static 'assets/images/banner2.jpg' %}" alt="" class="radius-image img-fluid">
      </div>
      <div class="row">
        <div class="col-lg-5 left-wthree-img">
          <h6 class="title-subhny"></h6>
          <h3 class="title-w3l mb-4">About Us</h3>

        </div>
        <div class="col-lg-7 pl-lg-5 align-self">
          <p class="">Welcome to the online counseling platform of RCCG Continent 3 Junior Church, where we are committed to nurturing a generation of children and teenagers in a safe and caring environment.   </p>
          <p class="mt-4"></p>
           </div>

      </div>
    </div>
  </div>
</section>
<!-- /w3l-content-2-->
<div class="title-content text-center">
      <h3 class="title-w3l mb-sm-5 mb-4 pb-sm-o pb-2 text-center">   OUR VISION</h3>
   <p class="">To create a safe and nurturing environment where children and teenagers in RCCG Continent 3 Junior Church can find solace, guidance, and support through our counseling service, empowering them to overcome challenges, develop their full potential, and embrace a vibrant relationship with God</p>
    </div>
<!-- /bottom-grids-->
<section class="w3l-bottom-grids-6 py-5" id="services1">
  <div class="container py-lg-5 py-md-4 py-2">
    <div class="title-content text-center">
      <h6 class="title-subhny text-center">Our Mission</h6>
      <h3 class="title-w3l mb-sm-5 mb-4 pb-sm-o pb-2 text-center">OUR MISSION IS TO</h3>
    </div>
    <div class="grids-area-hny text-center row mt-lg-4">
      <div class="col-lg-4 col-md-6 grids-feature">
        <div class="area-box icon-blue">
          <span class="fa fa-lightbulb-o"></span>
          <h4><a href="#feature" class="title-head">SUPPORT</a></h4>
          <p>Provide professional, compassionate, and confidential counseling services tailored to the unique needs of Children and Teenagers in RCCG Continent 3 Junior Church, fostering their emotional, spiritual, and psychological well-being.

          </p>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
        <div class="area-box icon-pink">
          <span class="fa fa-handshake-o"></span>
          <h4><a href="#feature" class="title-head">GUIDE</a></h4>
          <p>Offering a safe space for children and teenagers to express themselves, process their experiences, and receive guidance rooted in Christian values. </p>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
        <div class="area-box icon-yellow">
          <span class="fa fa-podcast"></span>
          <h4><a href="#feature" class="title-head">NAVIGATE</a></h4>
          <p>Through our dedicated team of trained counselors, equip young individuals with the tools, skills, and resilience necessary to navigate life's challenges, grow in faith, and develop healthy relationships.
</p>

        </div>
      </div>

      <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
        <div class="area-box icon-yellow">
          <span class="fa fa-pencil"></span>
          <h4><a href="#feature" class="title-head">SHAPE</a></h4>
          <p>Help everyone thrive as confident and purpose-driven members of their communities, shaping them into positive contributors to society.</p>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- //bottom-grids-->
<!-- home page block grids -->

<!-- /w3l-content-5-->
<section class="w3l-content-5 py-5">
  <div class="content-4-main py-lg-5 py-md-4">
    <div class="container pb-5">
      <div class="title-content text-left">
        <h6 class="title-subhny">Here & Now, Every Day</h6>
        <h3 class="title-w3l two mb-sm-5 mb-4">OUR VALUE ADDED SERVICES</h3>
      </div>
      <div class="content-info-in row">
        <div class="content-left col-lg-6">
          <p class="">In addition to our counselling services,we offer educational resources,workshops and support groups to help you build resilience,improve communication skills and develop healthy relationships.We also provide referrals to support services if required.</p>
          <a href="{% url 'contact' %}" class="btn btn-style btn-primary mt-md-5 mt-4">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /w3l-content-5-->
<!--/team-sec-->
<section class="w3l-team">
  <div class="team py-5">
    <div class="container py-lg-5 py-md-4">
      <div class="title-content text-center">
        <h6 class="title-subhny text-center">Leading Team</h6>
        <h3 class="title-w3l mb-sm-3 text-center">Meet Our Team</h3>
      </div>
      <div class="row team-row">
        {% for member in team_members %}
        <div class="col-lg-3 col-6 team-wrap mt-4 pt-lg-2">
          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="{{member.image.url}}" alt="" class="img-fluid" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">{{member.name}}
              </a></h3>
              <p>{{member.specialization}}</p>
              <div class="social">
                <a href="{{member.facebook_profile_link}}" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="{{member.twitter_profile_link}}" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- end team member -->
      </div>
    </div>
  </div>
</section>
<!--//team-sec-->

{% endblock %}